* {
  color: #f8f8f8;
  background-color: rgba(0, 0, 0, 0);
  font-family: "JetBrainsMono";
  font-size: 16px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px; 
}

.module {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

#tray {
  padding-left:5px;
  padding-right:5px;
}

#custom-appmenu {
  margin-left: 5px
}

#clock {
  margin-right: 5px
}

#modules-left {
  color: red
}

#workspaces button:hover {
  background-color: green;
}
